// reset
@import "./reset.scss";

//theme
@import "./theme/light.scss";
@import "./theme/dark.scss";

// transition
@import "./transition.scss";

// scrollbar
@import "./scrollbar.scss";
// viewTransition
@import "./viewTransition.scss";
// noprogress
@import "./nprogress.scss";

// blog
@import "./prose.scss";
@import "./markdown.scss";

html {
  background: var(--jory-bg);
  overflow-y: scroll;
}

.body {
  background-color: var(--jory-body-bg);
  max-width: 960px;
  min-width: 375px;
  box-shadow: var(--jory-body-shadow);
  box-sizing: content-box;
}

.footer {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  width: 100%;
  bottom: 0;
  font-size: 13px;
  padding: 0 4rem;
  color: var(--jory-color);

  .links {
    .button {
      margin: 0.25rem;
      background-color: var(--jory-button-bg);
      width: 1.25rem;
      height: 1.25rem;
      border-radius: 0.25rem;
      transition: all 0.3s;
    }

    .button:hover {
      background-color: var(--jory-button-hover-bg);
    }

    .icon {
      font-size: 1rem;
      color: var(--jory-bg);
    }
  }

  .copyright {
    span {
      margin-right: 0.5rem;
    }
  }
}

.sidebar {
  position: fixed;
  z-index: 1000;
  margin-left: 1rem;
  height: 100vh;
  padding: 2rem 0;
}
