html.dark-mode {
  --jory-bg: #1a1b1e;
  --jory-scrollbar: #353535;
  --jory-scrollbar-hover: #4a4a4a;

  --jory-body-bg: rgb(34, 33, 32);
  --jory-color: #ffffff;

  --jory-card-hover-bg: #2a2a2a;

  --jory-button-bg: #eeeeee;
  --jory-button-hover-bg: rgb(194, 194, 194);

  --jory-md-color: #ddd;
  --jory-md-color-deep: #eee;
  --jory-md-color-deeper: #fff;

  --jory-body-shadow: rgba(0, 0, 0, 0.2) 0px 8px 24px;

  --code-inline: rgb(52, 52, 52);
}
