html.light-mode {
  --jory-bg: #ffffff;
  --jory-scrollbar: #eee;
  --jory-scrollbar-hover: #bbb;

  --jory-body-bg: #f6f7f8;
  --jory-color: #000000;

  --jory-card-hover-bg: #eeeeee;

  --jory-button-bg: #1c1c1c;
  --jory-button-hover-bg: rgb(73, 73, 73);

  --jory-md-color: #555;
  --jory-md-color-deep: #222;
  --jory-md-color-deeper: #000;

  --jory-body-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

  --code-inline: rgb(248, 250, 252);
}
