@import "./variables.scss";

html.light {
  --background-color: var(--color-primary-white);
  --background-color-50: var(--color-primary-white-50);
  --background-color-hover: var(--color-natural-Ink30);

  --button-background-color: var(--color-primary-black);
  --button-background-color-hover: var(--color-natural-Ink50);
  --button-text-color: var(--color-natural-Ink10);
  --button-text-color-hover: var(--color-natural-Ink50);

  --font-color: var(--color-natural-Ink90);
  --icon-color: var(--color-natural-Ink90);

  --prose-color-text-headline: var(--color-primary-black);
  --prose-color-text-body: var(--color-natural-Ink90);
  --prose-color-text-link: var(--color-info);

  --border-color: var(--color-natural-Ink90);
  --border-l: 0.4rem solid var(--border-color);
  --border-m: 0.25rem solid var(--border-color);
  --border-s: 0.1rem solid var(--border-color);

  --article-title-undeline-color: var(--color-natural-Ink30);
  --article-title-undeline-color-hover: var(--color-success);
}
