html.light-mode {
  --jory-bg: #ffffff;
  --jory-scrollbar: #eee;
  --jory-scrollbar-hover: #bbb;

  --jory-body-bg: rgb(254, 247, 238);
  --jory-color: #000000;

  --jory-card-hover-bg: #eeeeee;

  --jory-button-bg: #1c1c1c;
  --jory-button-hover-bg: rgb(73, 73, 73);

  --jory-md-color: #555;
  --jory-md-color-deep: #222;
  --jory-md-color-deeper: #000;

  

  --code-inline: rgb(248, 250, 252);

}
